.sockText-container {
  margin-bottom: 11rem;
  margin-left: 1.5rem;

  .sock-title {
    font-size: 1.23rem;
    text-transform: uppercase;
    font-family: Helvetica-Bold;
    padding-bottom: 2rem;
  }
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
