@import '_arc1.scss';
@import '_aboutUs.scss';
@import '_contact.scss';
@import '_about.scss';
@import '_archives.scss';
@import '_project.scss';

html,
body,
h5 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: FogtwoNo5;
  src: url(fonts/FogtwoNo5.ttf);
}

@font-face {
  font-family: Atkinson-Hyperlegible-Regular-102;
  src: url(fonts/Atkinson-Hyperlegible-Regular-102.ttf);
}

@font-face {
  font-family: bodoni;
  src: url(fonts/bodoni.ttf);
}

@font-face {
  font-family: Helvetica;
  src: url(fonts/Helvetica.ttf);
}

@font-face {
  font-family: Helvetica-Bold;
  src: url(fonts/Helvetica-Bold.ttf);
}

.main {
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  overflow-y: scroll;
  height: 100vh;
  font-family: Helvetica;
}

a {
  text-decoration: none;
  color: black;
}
//Home scsss

.homeScreen-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  scroll-snap-align: start;
  width: 100%;
}

@media (max-width: 80em) {
  .navBar-container {
    .navContents-container {
      justify-content: space-around;
    }
    .logo-container {
      align-items: center;
      img {
        width: 43%;
        height: 100%;
      }
    }
  }
}

@media (min-width: 80em) {
  .homeScreen-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .navBar-container {
    max-width: 20%;
    min-height: 100vh;
    flex-direction: column;
    font: bodoni;

    .navContents-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      justify-content: center;
    }

    .logo-container {
      width: 100%;
      // max-height: 10%;
      display: flex;
      align-items: flex-start;
      flex: 1;
      justify-content: center;
      // margin-left: 8px;

      img {
        padding-top: 3rem;
        object-fit: contain;
        width: 17%;
        height: 20%;
      }
    }

    .footer-container {
      flex: 1;
    }
  }

  .rightSidebar-container {
    // background-color: aqua;
    margin-left: 80%;
    padding-bottom: 20px;
    padding-right: 10px;
    max-width: 20%;
    min-height: 100% !important;
    // display: flex;
    // flex-direction: column;
    align-items: flex-end !important;
    justify-content: flex-end !important;

    h4,
    p {
      padding-right: 15%;
    }

    h4 {
      margin: 0.2rem 0;
      font-size: 20px;
    }

    .footer {
      text-transform: uppercase;
    }
  }

  .centre-container {
    display: flex;
    margin-left: 20%;
    max-width: 60%;
    min-height: 100%;
  }
}

.centre-container {
  display: flex;
  margin-top: 20vh;
  width: 100%;
  height: 60%;
}

.banner {
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.navBar-container {
  z-index: 1;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;

  .logo-container {
    height: 40%;
    display: flex;
    justify-content: center;
    flex: 1;
    img {
      object-fit: contain;
    }
  }

  // Hover animation
  .navContents-container {
    display: flex;
    font-size: 2rem;
    width: 100%;
    flex: 1;

    // padding: 0 3rem;

    a {
      margin: 7px 0;
      font-size: 1.23rem;
      letter-spacing: -0.01rem;
      text-transform: uppercase;
      display: inline-block;
      position: relative;
    }

    a::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: black;
      transform-origin: bottom right;
      transition: transform 0.4s ease-out;
    }

    a:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.rightSidebar-container {
  position: fixed;
  margin-top: 80vh;
  width: 100%;
  min-height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;

  h4 {
    margin: 0.2rem 0;
  }

  .footer {
    text-transform: uppercase;
  }
}

// archives page

.archives {
  justify-content: center;

  h2 {
    margin-left: 30px;
  }
}

.archives-container {
  margin-top: 2%;
  width: 100%;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(auto-fit, 14rem);
}

.archive {
  width: 100%;
  position: relative;

  img {
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  p {
    position: absolute;
    top: 8px;
    writing-mode: vertical-rl;
    font-size: 35px;
    letter-spacing: -0.15rem;
    word-spacing: 7px;
  }
}

//CONTACT US

// ARC1 SOCKS

// MIDNIGHT

.midnight {
  background-color: white;
}

.arcSock-title {
  margin-top: 80px;
  position: fixed;
}

.sock-container {
  position: absolute;
  width: 800px;
  height: 800px;
}

.s1 {
  right: 66%;
  bottom: -35%;
}

.s2 {
  right: 42%;
  bottom: 9%;
}

.s3 {
  right: 18%;
  bottom: 53%;
}

.s4 {
  right: 23%;
  bottom: -35%;
}
